# dependencies
node_modules/

# environment files
.env

# logs
npm-debug.log*
yarn-debug.log*

# OS files
.DS_Store
Thumbs.db

# build folders
dist/
build/

# uploads folder (optional)
backend/uploads/